.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e3bb;
    font-family: 'Montserrat';font-size: 22px;
}
.titlefont{
    font-family: 'DM Serif Display';font-size: 40px;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #042212;
    padding: 10px;
}